<div class="row" id="formulaire_recherche">
  <div class="col s12 center">
    <h4>Rechercher un voyage</h4>
  </div>
  <form id="form_recherche" class="col s12">
    <div class="row">
      <div class="input-field col s9">
        <label for="lieu">Où souhaitez-partir ?</label>
        <input id="lieu" name="lieu" type="text" class="validate">
        <span class="error" id="erreur_lieu"></span>
      </div>
      <div class="input-field col s3">
        <label for="number">Voyageurs</label>
        <input id="number" name="personnes" value="1" min="1" type="number" class="validate valid">
        <span class="error" id="erreur_personnes"></span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <label for="depart">Du</label>
        <input type="date" id="depart" name="depart" class="datepicker">
        <span class="error" id="erreur_depart"></span>
      </div>
      <div class="input-field col s6">
        <label for="retour">Au</label>
        <input type="date" id="retour" name="retour" class="datepicker">
        <span class="error" id="erreur_retour"></span>
      </div>
      <div class="input-field col s12 center">
        <input class="waves-effect waves-light btn" type="submit" id="submit" value="Rechercher">
      </div>
    </div>
  </form>
</div>
